<a href="https://colab.research.google.com/github/jaquearaujo906/data-science-primeiros-passos/blob/main/Alura_Aula01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

notas = pd.read_csv("ratings.csv")
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [13]:
notas.shape

(100836, 4)

In [18]:
notas.columns = ["usuarioid", "filmesid", "nota", "momento"]
notas.head()

   usuarioid  filmesid  nota    momento
0          1         1   4.0  964982703
1          1         3   4.0  964981247
2          1         6   4.0  964982224
3          1        47   5.0  964983815
4          1        50   5.0  964982931

In [19]:
notas['nota']

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64

In [21]:
notas['nota'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [22]:
notas["nota"].count()

100836

In [23]:
notas["nota"].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

In [24]:
notas["nota"].mean()

3.501556983616962